<div class="l-row">
  <div class="c-resources">
    <h2 class="c-section__title">Podklady</h2>
    <ul>
      <li>SVG ikony: <a href="https://design.google.com/icons/">Google Material Icons</a></li>
      <li><a href="https://css-tricks.com/form-validation-ux-html-css/?utm_source=dlvr.it&utm_medium=facebook">Chris Coyer: Form Validation UX in HTML and CSS</a></li>
      <li><a href="http://zellwk.com/blog/crud-express-mongodb/">Zell: Building a Simple CRUD Application with Express and MongoDB</a></li>
      <li><a href="http://www.bennadel.com/blog/2908-you-can-use-require-to-load-json-javascript-object-notation-files-in-node-js.htm">Ben Nadel: You Can Use require() To Load JSON (JavaScript Object Notation) Files In Node.js</a></li>
    </ul>



  </div>
</div>
