<div class="l-row c-contact">
    <h2 class="c-section__title">{{ title }}</h2>

    <form class="c-form" action="/contact/message" method="POST">

      <div class="c-form__container">

        <div class="c-form__item">
          <input type="text" id="name" name="name" required placeholder=" ">
          <label for="first_name">First name</label>
        </div>

        <div class="c-form__item">
          <input type="text" id="subject" name="subject" required placeholder=" ">
          <label for="last_name">Predmet</label>
        </div>


        <div class="c-form__item">
          <input type="text" id="message" name="message" required placeholder=" ">
          <label for="message">Message</label>
        </div>

        <div class="c-form__item">
          <input type="email" id="email" name="email" required placeholder=" ">
          <label for="first_name">Emailová adresa</label>
        </div>

    </div>
      <input type="submit" value="Send Message"/>


    <form>
</div>
