<div class="l-row l-space">
  <h2 class="c-section__title">Sekcie</h2>
  <div class="l-item-1-2">
    <a class="c-menu__link" href="/blog">
    <div class="c-menu__item">
      <img class="c-menu__img" src="/public/img/blog-550-350.jpeg">
      <figcaption class="c-menu__figcaption c-menu-color-1">
        <h2 class="c-menu__description">Blog</h2>
      </figcaption>
    </div>
    </a>
  </div>
  <div class="l-item-1-2">
    <a class="c-menu__link" href="/galleries">
    <div class="c-menu__item">
      <img class="c-menu__img" src="/public/img/galeria-550-350.jpeg">
      <figcaption class="c-menu__figcaption c-menu-color-2">
        <h2 class="c-menu__description">Galéria</h2>
      </figcaption>
    </div>
    </a>
  </div>
</div>
